*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #000
	opacity: 1
	transition: opacity .25s

*:focus::-webkit-input-placeholder
	opacity: 0

*:-moz-placeholder
	color: #000
	opacity: 1
	transition: opacity .25s

*:focus::-moz-placeholder
	opacity: 0

*::-moz-placeholder
	color: #000
	opacity: 1
	transition: opacity .25s

*:focus:-moz-placeholder
	opacity: 0

*:-ms-input-placeholder
	color: #000
	opacity: 1
	transition: opacity .25s

*:focus:-ms-input-placeholder
	opacity: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
body input:required:valid,
body textarea:required:valid
	color: #000

*, body
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important
	-webkit-focus-ring-color: rgba(0,0,0,0) !important
	outline: none !important

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

h1,h2,h3,h4,h5,h6
	font-size: 1em
	font-weight: normal
	margin: 0

.container
	display: flex
	align-items: center
	flex-wrap: wrap
	max-width: 1770px
	width: 100%
	padding: 0 15px
	margin: 0 auto

.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	padding-top: 100px
	@include media-breakpoint-down(lg)
		padding-top: 92px

.main
	flex: 1

.btn
	border: 2px solid #BB2423
	background: #bb2423
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	text-decoration: none
	transition: .3s ease-in-out
	padding: 0
	height: 36px
	color: #fff
	cursor: pointer
	&:hover,
	&:focus-visible
		background: 0
		color: #bb2423
	&_border
		background: 0
		color: #bb2423
		&:hover,
		&:focus-visible
			background: #bb2423
			color: #fff
.storefront-sorting
	&:first-child
		.woocommerce-pagination
			display: none !important
	&:last-child
		.woocommerce-ordering
			display: none !important
	.woocommerce-result-count
		display: none
	.woocommerce-pagination
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		float: none
	.woocommerce-pagination .page-numbers
		font-size: 16px
		border: 0
		padding: 8px
		margin: 4px
		color: #000 !important
		background: 0 !important
		transition: .3s ease-in-out
		&:hover,
		&:focus-visible
			background: 0 !important
			color: #bb2423 !important
	.woocommerce-pagination .page-numbers li .page-numbers.current
		color: #bb2423 !important
	.woocommerce-pagination .next, .woocommerce-pagination .prev
		background: 0 !important
		color: #999 !important
		padding: 8px
		&:hover,
		&:focus-visible
			background: 0 !important
			color: #bb2423 !important
	.woocommerce-pagination .next
		margin-left: 16px
		&::after
			font-family: inherit
			width: 24px
			height: 24px
			background-image: url(../img/arrow-next.svg)
			background-repeat: no-repeat
			background-position: center
			content: '' !important
	.woocommerce-pagination .prev
		margin-right: 16px
		&::after
			font-family: inherit
			width: 24px
			height: 24px
			background-image: url(../img/arrow-prev.svg)
			background-repeat: no-repeat
			background-position: center
			content: '' !important


.widget-area
	display: none !important
	float: none !important
	flex: 0 240px !important
	width: auto !important
	margin-right: 10px !important
	background-color: #000 !important
	padding: 20px 20px 24px !important
	order: -1 !important
	@include media-breakpoint-down(xs)
		flex: 1 100% !important
		margin-right: 0 !important
	.berocket_single_filter_widget 
		margin-bottom: 0
		input
			display: none
			&:checked + label::after
				display: block
		li
			margin-bottom: 5px !important
			&:last-child
				margin-bottom: 0 !important
		label
			position: relative
			margin: 0
			font-size: 14px
			color: #b6b6b6
			transition: .3s ease-in-out
			font-family: $syne-font
			&:hover,
			&:focus-visible
				color: #666
			&::after
				display: none
				left: 5px
				position: absolute
				top: 2px
				width: 4px
				height: 8px
				content: ""
				border: solid #000
				border-width: 0 1px 1px 0
				transform: rotate(45deg)
			&::before
				margin-right: 10px
				display: inline-block
				width: 13px
				height: 13px
				vertical-align: text-top
				content: ""
				background: #fff
				border: 1px solid #c9c9c9
		&:nth-child(2)
			input
				display: none
				&:checked + label
					color: #fff !important
					font-weight: 700
			label
				&::after,
				&::before
					display: none
	.bapf_slidr_main.ui-widget-content .ui-slider-range
		background: #ccc
	.bapf_from,
	.bapf_to
		display: inline-flex
		align-items: center
		color: #ccc
		font-size: 14px
		font-family: $syne-font
	.bapf_tbprice
		order: 1
		margin-left: 3px
	.bapf_to
		justify-content: flex-end
	.bapf_sfilter
		padding: 20px 0
		border-bottom: 1px solid rgba(#fff, .2)
		margin-bottom: 0
	.bapf_body
		padding-top: 20px
	.bapf_head
		h3
			cursor: pointer
			display: flex
			align-items: center
			justify-content: space-between
			padding: 0
			i
				&.fa-chevron-up::after
					content: '-' !important
				&::after
					display: flex
					align-items: center
					justify-content: center
					content: '+' !important
					color: #fff
					font-size: 30px
					line-height: 0
					font-weight: 100
					font-family: $syne-font !important
				&::before
					display: none
		h3
			color: #fff
			font-size: 16px
			font-family: $syne-font
	.widget_block
		margin-bottom: 0 !important
		h2
			color: #fff
			font-size: 26px
			font-family: $syne-font
			padding-bottom: 20px
			border-bottom: 1px solid rgba(#fff, .2)

.content-area
	width: auto !important
	flex: 1 !important
	float: none !important
	margin-right: 0 !important

.site-main ul.products.columns-5
	display: grid !important
	grid-template-columns: repeat(5,1fr) !important
	grid-gap: 20px !important
	max-width: 1500px !important
	@include media-breakpoint-down(lg)
		grid-template-columns: repeat(4,1fr) !important
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(3,1fr) !important
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(2,1fr) !important
	@include media-breakpoint-down(xs)
		grid-template-columns: repeat(1,1fr) !important
		max-width: 280px !important
		margin: 0 auto !important

.xoo-qv-container
	max-height: calc(100% - 60px)
	height: max-content
	max-width: 950px
	top: 30px
	bottom: 30px
	left: 15%
	right: 15%
	padding: 32px

.xoo-qv-main
	.xoo-qv-plink
		padding: 0 !important
		background: 0 !important
		margin-top: 0
		a
			color: #000
			text-decoration: underline
			font-size: 14px
			transition: .3s ease-in-out
			&:hover
				color: #bb2423
	.xoo-qv-images,
	.xoo-qv-summary
		width: auto !important
		float: none !important
	div.product .xoo-qv-images .images
		flex: 0 500px
		width: auto
		float: none
		margin-right: 0
		margin-bottom: 0
		display: grid
		grid-template-columns: 440px 45px
		justify-content: space-between
		align-items: stretch
		@include media-breakpoint-down(md)
			grid-template-columns: auto 45px
			grid-gap: 20px
			flex: 1 100%
	div.product .xoo-qv-images .thumbnails
		display: flex
		flex-direction: column
		&::before,
		&::after
			display: none
	div.product .xoo-qv-images img
		width: 100%
	div.product .xoo-qv-images .thumbnails a
		clear: none !important
		width: 100% !important
		height: 45px !important
		float: none !important
		margin-bottom: 15px !important
		margin-right: 0 !important
		&:last-child
			margin-bottom: 0 !important
	div.product .summary
		width: auto
		flex: 0 355px
		float: none
		@include media-breakpoint-down(md)
			flex: 1 100%
	.product_title
		color: #bb2423
		font-size: 30px
		font-family: $syne-font
		margin-bottom: 27px
	.price
		font-size: 18px !important
		color: #575757 !important
		margin: 0 !important
		margin-bottom: 5px !important
		*
			font-size: inherit !important
			color: inherit !important
	div.product table.variations th
		padding-bottom: 8px
		font-size: 16px
		color: #757575
	div.product form.cart
		padding: 0
	.select2-container
		width: 100% !important
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		border-color: #444444 transparent transparent
	.select2-container .select2-selection--single
		height: 40px
		border-radius: 0
		width: 100%
		border: 1px solid #444444
		background-color: #fff
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 40px
		color: #444444
		font-size: 16px
		padding: 0 20px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		height: 38px
	.select2-results__option
		padding: 8px 20px !important
		color: #444444 !important
		font-size: 15px !important
		background-color: #fff !important
	.select2-container--default .select2-results__option--selected,
	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
		background-color: #F3F3F3 !important
		color: #444444 !important
	.select2-container--default .select2-results>.select2-results__options
		border: 1px solid #444444 !important
	.select2-dropdown
		border: 0 !important
	div.product form.cart .quantity
		width: 100%
		float: none
		margin: 0
		margin-bottom: 40px
		input
			width: 87px !important
			height: 40px !important
			border: 1px solid #444444 !important
			background: 0
			font-family: inherit
	.woocommerce-variation-add-to-cart, .cart
		display: flex
		flex-wrap: wrap
	.product_meta
		display: none !important
	.tinvwl_add_to_wishlist_button
		width: 42px
		height: 42px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #BB2423
		color: #bb2423
		margin-top: 0 !important
		span
			display: none !important
		&::before
			font-size: 32px !important
			margin-right: 0 !important
	.single_add_to_cart_button
		flex: 0 265px !important
		margin-right: auto !important
		border: 2px solid #BB2423 !important
		background: #bb2423 !important
		display: flex !important
		align-items: center !important
		justify-content: center !important
		text-align: center !important
		text-decoration: none !important
		transition: .3s ease-in-out !important
		padding: 0 !important
		height: 42px !important
		color: #fff !important
		cursor: pointer !important
		@include media-breakpoint-down(xs)
			flex: 0 235px !important
		&:hover,
		&:focus-visible
			background: 0 !important
			color: #bb2423 !important
	div.product::before, div.product::after
		display: none !important
	.woocommerce-variation.single_variation
		display: none !important
	div.product
		display: grid !important
		grid-template-columns: 500px 355px !important
		justify-content: space-between !important
		width: 100% !important
		clear: unset !important
		padding-top: 0 !important
		overflow: visible !important
		position: relative !important
		z-index: 1 !important
		padding: 0 !important
		@include media-breakpoint-down(md)
			grid-template-columns: repeat(1,1fr) !important
			grid-gap: 20px !important
		&::before,
		&::after
			display: none !important

.site-main ul.products.columns-5 li.product
	width: auto !important
	margin-right: 0 !important
	float: none !important
	margin-bottom: 0 !important
	padding: 0 !important
	.xoo-qv-button
		top: 277px
		opacity: 0
		visibility: hidden
		transition: .3s ease-in-out
		width: 100%
		background: 0
		border: 0
		height: 50px
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		color: #000
		background: rgba(255, 255, 255, 0.75)
	&:hover,
	&:focus-visible
		.xoo-qv-button
			top: 257px
			opacity: 1
			visibility: visible
	.product__warranty
		position: absolute
		left: 0
		top: 0
		padding: 2px 12px
		background-color: #bb2423
		color: #fff
		display: inline-block
		vertical-align: top
		z-index: 9
		font-size: 14px
	.tinv-wraper.tinv-wishlist
		display: none !important
	.add_to_cart_button
		display: none !important
	.price
		margin-bottom: 0 !important
		color: #757575 !important
		font-size: 14px !important
	.woocommerce-loop-product__title
		color: #bb2423 !important
		font-size: 18px !important
		margin-bottom: 10px !important
		padding-bottom: 10px !important
		position: relative !important
		&::after
			position: absolute
			left: 50%
			bottom: 0
			transform: translate(-50%, 0)
			content: ''
			width: 20px
			height: 1px
			background-color: #000
	img
		margin-bottom: 16px !important

ul.products::before, ul.products::after
	display: none !important

.select2-results__option
	padding: 8px 20px !important
	color: #fff !important
	font-size: 15px !important
	background-color: #000 !important
.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
	background-color: #1f1f1f !important
	color: #fff !important
.select2-container.select2-container--default.select2-container--open
	z-index: 99999

.page-template-page-shop
	.woocommerce-ordering
		.select2-container
			width: 100% !important
			.selection
				width: 100%
		.select2-container--default .select2-selection--single .select2-selection__arrow b
			border-color: #fff transparent transparent
		.select2-container .select2-selection--single
			height: 40px
			border-radius: 0
			width: 100%
			border: 0
			background-color: #000000
		.select2-container--default .select2-selection--single .select2-selection__rendered
			line-height: 40px
			color: #fff
			font-size: 16px
			padding: 0 20px
		.select2-container--default .select2-selection--single .select2-selection__arrow
			height: 38px

	.woocommerce-ordering
		float: none !important
		margin-right: 0 !important
		margin-bottom: 25px !important
		margin-top: 25px !important
		padding: 0 !important
		width: 250px !important
		margin-left: auto !important
		display: block !important
		@include media-breakpoint-down(xs)
			margin: 25px auto !important
	.widget-area
		display: block !important
	main.main
		padding: 0 80px !important
		display: flex !important
		align-items: stretch !important
		flex-wrap: wrap !important
		@include media-breakpoint-down(lg)
			padding: 0 15px !important

.page-content
	flex: 1 100%
	order: -9
.woocommerce-checkout
	input,textarea
		border: 1px solid #000 !important
		font-family: inherit !important
		font-size: 16px !important
		font-family: inherit !important
		background: 0 !important
		padding: 0 10px !important
		color: #000 !important
		width: auto !important
		height: 37px !important
		width: 100% !important
		background: #fff !important
		&:hover,
		&:focus-visible
			border-width: 2px !important
	textarea
		padding: 10px !important
		min-height: 156px !important
		height: auto !important
	.button
		border: 2px solid #BB2423
		padding: 0 15px
		background: 0
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		text-decoration: none
		transition: .3s ease-in-out
		height: 36px
		color: #bb2423
		cursor: pointer
		font-weight: normal
		width: max-content
		&:hover,
		&:focus-visible
			background: #bb2423
			color: #fff
	h3
		font-size: 20px
		font-family: $syne-font
		text-transform: uppercase
		border-bottom: 1px solid #bab8b8 !important
		padding-bottom: 32px !important
		margin-bottom: 10px !important
		color: #bb2423
	label
		padding-bottom: 8px
		font-size: 16px
		color: #757575
	.checkout_coupon
		width: 100%
		margin-bottom: 20px
	.form-row-first
		margin-bottom: 0
	.woocommerce-info
		margin-bottom: 10px
	table
		border-collapse: collapse
	table th
		padding: 10px
		background: 0
		border: 1px solid #C7C7C7
		width: 50%
		font-size: 16px
		color: #000
		font-weight: normal
		background-color: #fff !important
	table td
		padding: 10px
		background: 0
		border: 1px solid #C7C7C7 !important
		width: 50%
		font-size: 16px
		color: #000 !important
		font-weight: normal
		background-color: #fff !important
	.select2-container
		width: 100% !important
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		border-color: #444444 transparent transparent
	.select2-container .select2-selection--single
		height: 40px
		border-radius: 0
		width: 100%
		border: 1px solid #444444
		background-color: #fff
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 40px
		color: #444444
		font-size: 16px
		padding: 0 20px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		height: 38px
	.select2-results__option
		padding: 8px 20px !important
		color: #444444 !important
		font-size: 15px !important
		background-color: #fff !important
	.select2-container--default .select2-results__option--selected,
	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
		background-color: #F3F3F3 !important
		color: #444444 !important
	.select2-container--default .select2-results>.select2-results__options
		border: 1px solid #444444 !important
	.select2-dropdown
		border: 0 !important

.page-id-11
	background-color: #e8e6e6 !important
	.entry-content, .wrapper
		background-color: #e8e6e6 !important
	h2
		flex: 1 100%
		font-size: 28px
		color: #fff
		text-align: center

.page-template-default
	padding-top: 60px
	.entry-header
		max-width: 980px
		padding: 0 15px
		margin: 0 auto
	h1
		font-size: 32px
		font-family: $syne-font
		margin-bottom: 20px
	h2
		font-size: 28px
		font-family: $syne-font
		margin-bottom: 20px
	h3
		font-size: 24px
		font-family: $syne-font
		margin-bottom: 20px
	h4
		font-size: 20px
		font-family: $syne-font
		margin-bottom: 20px
	.entry-content
		max-width: 980px
		padding: 0 15px
		margin: 0 auto
		color: #000
		*
			color: inherit

.woocommerce-info, .woocommerce-noreviews, p.no-comments
	background-color: #bb2423 !important
	color: #fff !important

.woocommerce-account
	background-color: #BB2423
	.woocommerce-form-login,
	.woocommerce-ResetPassword,
	.woocommerce-form-register
		max-width: 460px
		width: 100%
		margin: 0 auto
		margin-top: 40px
		padding: 20px
		background-color: #e8e6e6
		a
			color: #000
			&:hover
				color: #bb2423
	.woocommerce-MyAccount-navigation ul li a::before
		display: none
	.woocommerce-MyAccount-navigation ul
		padding: 10px
		border: 0 !important
	.woocommerce-MyAccount-navigation ul li a
		color: #000
		transition: .3s ease-in-out
		&:hover
			color: #bb2423
	.woocommerce-MyAccount-navigation ul li
		border: 0 !important
	.woocommerce-MyAccount-navigation
		float: none
		background-color: #fff
		padding: 20px
		flex: 0 290px
		width: auto
		margin-right: 10px
		@include media-breakpoint-down(sm)
			margin-right: 0
	input:not([type="checkbox"]),textarea
		border: 1px solid #000 !important
		font-family: inherit !important
		font-size: 16px !important
		font-family: inherit !important
		background: 0 !important
		padding: 0 10px !important
		color: #000 !important
		width: auto !important
		height: 37px !important
		width: 100% !important
		background: #fff !important
		&:hover,
		&:focus-visible
			border-width: 2px !important
		& + span:not(.show-password-input)
			display: block
			margin-top: 10px
	textarea
		padding: 10px !important
		min-height: 156px !important
		height: auto !important
	.button
		border: 2px solid #BB2423
		padding: 0 15px
		background: 0
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		text-decoration: none
		transition: .3s ease-in-out
		height: 36px
		color: #bb2423
		cursor: pointer
		font-weight: normal
		width: max-content !important
		&:hover,
		&:focus-visible
			background: #bb2423
			color: #fff
	label
		padding-bottom: 8px
		font-size: 16px
		color: #757575
	.addresses header.title a
		margin-top: 0
	.col2-set.addresses .woocommerce-Address
		width: 100% !important
		float: none !important
		margin: 0 !important
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
	.woocommerce-MyAccount-content
		padding: 20px
		flex: 1
		width: auto
		background-color: #fff
		float: none
		p
			font-size: 15px
			color: #000
		a
			color: #000
			transition: .3s ease-in-out
			&:hover
				color: #bb2423
	.entry-header
		display: none
	.entry-content
		background-color: #BB2423
		.woocommerce
			display: flex
			flex-wrap: wrap
			max-width: 980px
			margin: 0 auto
			padding: 20px 0
			@include media-breakpoint-down(sm)
				padding: 15px
		.woocommerce-notices-wrapper
			flex: 1 100%
	.stock.in-stock
		display: none !important
	.tinv-wishlist
		padding: 0 !important
		.product-action
			width: 175px
			padding-right: 40px
		.product-price
			white-space: nowrap
		.product-date
			display: none !important
		.variation
			& > *:nth-last-child(1),
			& > *:nth-last-child(2),
			& > *:nth-child(1),
			& > *:nth-child(2)
				display: none
		form
			width: 100% !important
		tfoot
			display: none !important
		.product-cb
			display: none !important
		.product-stock
			display: none !important
		tbody td.product-action
			@include media-breakpoint-down(sm)
				display: flex !important
				justify-content: center
		.product-remove
			position: absolute
			right: 16px
			top: 20px
			background: 0
			@include media-breakpoint-down(sm)
				position: static
		a
			color: #000
			transition: .3s ease-in-out
			&:hover
				color: #bb2423
		tr
			position: relative

.woocommerce-checkout
	.entry-title
		display: block !important

.woocommerce-cart,
.woocommerce-checkout
	background-color: #e8e6e6
	.wrapper
		background-color: #e8e6e6
	.button
		border: 2px solid #BB2423 !important
		padding: 0 15px !important
		background: 0 !important
		display: flex !important
		align-items: center !important
		justify-content: center !important
		text-align: center !important
		text-decoration: none !important
		transition: .3s ease-in-out !important
		height: 36px !important
		color: #bb2423 !important
		cursor: pointer !important
		font-weight: normal !important
		width: max-content !important
		font-size: 16px !important
		&:hover,
		&:focus-visible
			background: #bb2423 !important
			color: #fff !important
	.entry-header
		display: none
	.entry-content
		background-color: #e8e6e6
		.woocommerce
			display: flex
			flex-wrap: wrap
			max-width: 980px
			margin: 0 auto
			padding: 20px 45px
			@include media-breakpoint-down(sm)
				padding: 15px
		.woocommerce-notices-wrapper
			flex: 1 100%
			margin-bottom: 40px
		.woocommerce-cart-form
			margin-right: 50px
			flex: 1
			@include media-breakpoint-down(md)
				margin-right: 0
			&::before
				display: block
				color: #bb2423
				content: 'Корзина'
				font-size: 20px
				font-family: $syne-font
				text-transform: uppercase
				border-bottom: 1px solid #bab8b8
				padding-bottom: 32px
			.shop_table
				display: block
				font-family: $syne-font
				line-height: 1.25
				.product-remove
					order: 1
				.product-thumbnail
					width: 102px
					height: 102px
					display: flex
					align-items: center
					justify-content: center
					padding: 10px
					background-color: #fff
					border: 1px solid #abaaaa
					margin-right: 20px
					img
						width: 100%
						height: auto
				.product-name
					flex: 0 204px
					margin-right: auto
					a
						color: #000
						text-decoration: none
				.product-price
					position: absolute
					left: 122px
					top: 87px
					color: #000
					font-size: 14px
					@include media-breakpoint-down(sm)
						position: static
				.product-quantity
					flex: 0 80px
					margin-right: auto
					position: relative
					.qib-button-wrapper
						display: block !important
						float: none !important
						position: relative !important
						margin: 0 !important
						@include media-breakpoint-down(xs)
							flex: 1 100% !important
					button.qib-button
						position: absolute !important
						padding: 0 !important
						border: 0 !important
						background: 0 !important
						height: 100% !important
						width: auto !important
						font-size: 14px !important
						font-weight: 100 !important
					button.plus
						right: 25px !important
						top: -7px !important
					button.minus
						left: 6px!important
						top: -8px!important
						font-size: 20px !important
				.product-quantity .qty
					width: 80px !important
					padding: 10px !important
					border: 1px solid #000000 !important
					height: 28px !important
					font-size: 12px !important
					font-family: inherit !important
					background: 0 !important
					max-width: 80px !important
					@include media-breakpoint-down(sm)
						margin-right: 0 !important
				.product-subtotal
					font-size: 16px
					margin-right: auto
				.variation
					margin-top: 39px
					font-size: 14px
					& > *:nth-last-child(1),
					& > *:nth-last-child(2),
					& > *:nth-child(1),
					& > *:nth-child(2)
						display: none
				tbody
					display: block
				tr
					position: relative
					display: flex
					width: 100%
					padding: 32px 0
					border-bottom: 1px solid #bab8b8
					@include media-breakpoint-down(sm)
						flex-wrap: wrap
						display: block
					&:last-child
						border-bottom: 0
						padding-bottom: 0
				td
					display: block
					background: 0
					color: #000
					@include media-breakpoint-down(sm)
						margin-bottom: 10px
				thead
					display: none
				td
					padding: 0
				.input-text
					border: 1px solid #000 !important
					font-family: inherit !important
					font-size: 16px !important
					font-family: inherit !important
					background: 0 !important
					padding: 0 10px !important
					color: #000 !important
					width: auto !important
					height: 37px !important
					margin-right: 20px
					&:hover,
					&:focus-visible
						border-width: 2px !important
				.actions
					border-top: 0
					display: flex
					flex-wrap: wrap
				.coupon
					flex: 1 100%
					display: flex
					align-items: center
					margin-bottom: 20px
					@include media-breakpoint-down(sm)
						flex-wrap: wrap
				.button.wp-element-button
					border: 2px solid #BB2423
					padding: 0 15px
					background: 0
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					text-decoration: none
					transition: .3s ease-in-out
					height: 36px
					color: #bb2423
					cursor: pointer
					font-weight: normal
					width: max-content
					&:hover,
					&:focus-visible
						background: #bb2423
						color: #fff
					&::after
						display: none
		.cart-collaterals
			flex: 0 280px
			@include media-breakpoint-down(md)
				flex: 1 100%
			h2
				font-size: 20px
				font-family: $syne-font
				text-transform: uppercase
				border-bottom: 1px solid #bab8b8
				padding-bottom: 32px
				color: #bb2423
		.cart_totals
			width: 100%
			.button
				border: 2px solid #BB2423
				background: 0
				display: flex
				align-items: center
				justify-content: center
				text-align: center
				text-decoration: none
				transition: .3s ease-in-out
				padding: 0
				height: 36px
				color: #bb2423
				cursor: pointer
				font-weight: normal
				&:hover,
				&:focus-visible
					background: #bb2423
					color: #fff
				&::after
					display: none
			tbody
				display: block
			tr
				position: relative
				display: flex
				width: 100%
				padding: 32px 0
				border-bottom: 1px solid #bab8b8
			td[data-title]::before
				display: none !important
			td, th
				display: block
				background: 0 !important
				color: #000
			td
				flex: 1
				text-align: right
			thead
				display: none
			td, th
				padding: 0

.related
	display: none !important

.wc-tabs
	display: none !important

.woocommerce-tabs .panel
	width: 100% !important
	float: none !important

.single-product div.product .woocommerce-tabs
	display: grid
	grid-template-columns: 500px 355px
	justify-content: space-between
	width: 100%
	clear: unset
	padding-top: 0
	overflow: visible !important
	position: relative
	z-index: 1
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(1,1fr)
		grid-gap: 20px
	&::before,
	&::after
		display: none
	table
		border-collapse: collapse
	table th
		padding: 10px
		background: 0
		border: 1px solid #C7C7C7
		width: 50%
		font-size: 16px
		color: #000
		font-weight: normal
	table td
		padding: 10px
		background: 0
		border: 1px solid #C7C7C7
		width: 50%
		font-size: 16px
		color: #000
		font-weight: normal

.woocommerce-tabs .panel h2:first-of-type
	font-size: 18px
	margin-bottom: 20px
	text-transform: uppercase

.woocommerce-Tabs-panel--description h2:first-of-type
	display: none !important

.woocommerce-Tabs-panel--description,
.woocommerce-Tabs-panel--additional_information
	display: block !important

.woocommerce-Tabs-panel--additional_information
	max-width: 100%
	@include media-breakpoint-down(xs)
		overflow: auto
		overflow-y: hidden
		table
			min-width: 565px

.woocommerce-Tabs-panel--description
	// margin-top: -40px !important
	p
		font-size: 18px
		color: #000

.type-product
	max-width: 920px
	margin: 0 auto
	padding: 0 15px
	width: 100%

.single-product div.product
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.wc-forward
	display: none !important

.single-product div.product .woocommerce-product-gallery
	flex: 0 500px
	width: auto
	float: none
	margin-right: 0
	margin-bottom: 0
	display: grid
	grid-template-columns: 440px 45px
	justify-content: space-between
	align-items: stretch
	@include media-breakpoint-down(md)
		grid-template-columns: auto 45px
		grid-gap: 20px
		flex: 1 100%

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger
	display: none

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs
	display: flex
	flex-direction: column
	&::before,
	&::after
		display: none
.single-product div.product .woocommerce-product-gallery img
	width: 100%
.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li
	clear: none !important
	width: 100% !important
	height: 45px !important
	float: none !important
	margin-bottom: 15px !important
	margin-right: 0 !important
	&:last-child
		margin-bottom: 0 !important

.single-product div.product .summary
	width: auto
	flex: 0 355px
	float: none
	@include media-breakpoint-down(md)
		flex: 1 100%

.woocommerce-product-gallery__wrapper
	margin: 0 !important

.single-product
	.product_title
		color: #bb2423
		font-size: 30px
		font-family: $syne-font
		margin-bottom: 27px
	.price
		font-size: 18px !important
		color: #575757 !important
		margin: 0 !important
		margin-bottom: 5px !important
		*
			font-size: inherit !important
			color: inherit !important
	div.product table.variations th
		padding-bottom: 8px
		font-size: 16px
		color: #757575
	div.product form.cart
		padding: 0
	.select2-container
		width: 100% !important
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		border-color: #444444 transparent transparent
	.select2-container .select2-selection--single
		height: 40px
		border-radius: 0
		width: 100%
		border: 1px solid #444444
		background-color: #fff
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 40px
		color: #444444
		font-size: 16px
		padding: 0 20px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		height: 38px
	.select2-results__option
		padding: 8px 20px !important
		color: #444444 !important
		font-size: 15px !important
		background-color: #fff !important
	.select2-container--default .select2-results__option--selected,
	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
		background-color: #F3F3F3 !important
		color: #444444 !important
	.select2-container--default .select2-results>.select2-results__options
		border: 1px solid #444444 !important
	.select2-dropdown
		border: 0 !important
	div.product form.cart .quantity
		width: 100%
		float: none
		margin: 0
		margin-bottom: 40px
		input
			width: 87px !important
			height: 40px !important
			border: 1px solid #444444 !important
			background: 0
			font-family: inherit
	.woocommerce-variation-add-to-cart, .cart
		display: flex
		flex-wrap: wrap
		.wc-buy-now-btn-single
			order: 1 !important
			background-color: #000 !important
			border: 0 !important
			color: #fff !important
			flex: 1 100% !important
			margin-right: 0 !important
			margin-top: 20px !important
			&:hover,
			&:focus-visible
				background-color: #000 !important
				border: 0 !important
				color: #fff !important
				opacity: 0.8 !important
		button.qib-button
			display: none !important
		.qib-button-wrapper
			display: block !important
			float: none !important
			margin: 0 !important
			margin-bottom: 32px !important
			@include media-breakpoint-down(xs)
				flex: 1 100% !important
	.product_meta
		display: none !important
	.tinvwl_add_to_wishlist_button
		width: 42px
		height: 42px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #BB2423
		color: #bb2423
		margin-top: 0 !important
		span
			display: none !important
		&::before
			font-size: 32px !important
			margin-right: 0 !important
	.single_add_to_cart_button
		flex: 0 265px !important
		margin-right: auto !important
		border: 2px solid #BB2423 !important
		background: #bb2423 !important
		display: flex !important
		align-items: center !important
		justify-content: center !important
		text-align: center !important
		text-decoration: none !important
		transition: .3s ease-in-out !important
		padding: 0 !important
		height: 42px !important
		color: #fff !important
		cursor: pointer !important
		@include media-breakpoint-down(xs)
			flex: 1 !important
			margin-right: 10px !important
		&:hover,
		&:focus-visible
			background: 0 !important
			color: #bb2423 !important

.single-product div.product::before, .single-product div.product::after
	display: none !important

.woocommerce-variation.single_variation
	display: none !important

.single__header
	max-width: 920px
	padding: 0 15px
	margin: 0 auto
	display: grid
	grid-template-columns: 500px 355px
	justify-content: space-between
	padding-top: 35px
	padding-bottom: 60px
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(1,1fr)
		grid-gap: 20px
	.breadcrumbs
		a
			color: #000
			text-decoration: none
			font-size: 18px
			&:last-child
				opacity: 0.6

.single__nav
	display: flex
	align-items: center
	justify-content: flex-end
	@include media-breakpoint-down(md)
		justify-content: flex-start
	a,div
		display: flex
		align-items: center
		color: #000
		font-size: 18px
		&.empty
			opacity: 0.6
		&:first-child
			svg
				margin-right: 5px
		&:last-child
			margin-left: 10px
			&::before
				border-left: 1px solid #000
				margin-right: 10px
				content: ""
				display: inline-block
				height: 16px
				transform: translateY(-1px)
			svg
				margin-left: 5px

.storefront-product-pagination
	display: none !important

.color-switcher
	&-list
		display: flex
		align-items: center
		height: 32px
	&-item
		width: 20px
		height: 20px
		border-radius: 50px
		border: 1px solid #c9c9c9
		position: relative
		margin-right: 8px
		cursor: pointer
		&:last-child
			margin-right: 0
		&:hover,
		&:focus-visible,
		&.is-active
			&::after
				opacity: 1
		&::after
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			content: ''
			width: 26px
			height: 26px
			border: 1px solid #000
			opacity: 0
			transition: .3s ease-in-out
			border-radius: 50%

.mfp-bg,
.mfp-wrap
	z-index: 99999999 !important

.woocommerce-result-count
	display: none !important

body
	.wrapper
		.select2-container
			z-index: 9 !important