.header
	padding-left: 55px
	background: #000
	position: fixed
	z-index: 9999
	left: 0
	top: 0
	width: 100%
	@include media-breakpoint-down(lg)
		padding-left: 15px
		padding-bottom: 5px
	.container
		width: 100%
		max-width: 100%
		padding: 0
	&__cart
		&-dropdown
			height: 100vh
			width: 100%
			input.qty
				width: 64px !important
				background: 0 !important
				color: #fff !important
				height: 28px !important
				border: 1px solid #fff !important
				font-size: 12px !important
				position: relative
			.qib-button-wrapper
				display: block !important
				float: none !important
				position: relative !important
				margin: 0 !important
			button.qib-button
				position: absolute !important
				padding: 0 !important
				border: 0 !important
				background: 0 !important
				height: 100% !important
				width: auto !important
				font-size: 14px !important
				font-weight: 100 !important
				color: #fff !important
			button.plus
				left: 50px!important
				top: -7px !important
			button.minus
				left: 6px!important
				top: -8px!important
				font-size: 20px !important
			&-wrapper
				height: 100%
				width: 100%
				display: flex
				flex-direction: column
			&-title
				min-height: 100px
				display: flex
				align-items: center
				justify-content: center
				text-align: center
				background-color: #bb2423
				font-size: 23px
				font-weight: 200
				color: #fff
				position: relative
				cursor: pointer
				&::after
					position: absolute
					left: 30px
					top: 50%
					transform: translate(0,-50%)
					content: ''
					width: 25px
					height: 45px
					background-image: url(../img/arrow.png)
					background-repeat: no-repeat
					background-position: center
			&-list
				padding: 34px
				flex: 1
				overflow: auto
			&-item
				display: flex
				align-items: flex-start
				position: relative
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
				.remove
					position: absolute
					right: 0
					top: 0
				&-title
					color: #fff
					font-size: 16px
					font-weight: 200
			&-price
				font-weight: 600
				color: #fff
				font-size: 16px
				margin-bottom: 8px
			&-img
				display: flex
				align-items: center
				justify-content: center
				width: 80px
				height: 80px
				margin-right: 10px
				img
					width: 100%
					height: 100%
					object-fit: cover
			&-content
				flex: 1
				padding-right: 40px
			&-total
				padding: 34px
				border-bottom: 1px solid #e8e6e6
				font-size: 26px
				color: #fff
				min-height: 134px
			&-btn
				width: 100%
				height: 42px
				font-size: 16px
				&-wrapper
					padding: 34px
					min-height: 110px
			&-outer
				position: absolute
				right: -350px
				opacity: 0
				visibility: hidden
				top: 0
				max-width: calc(100vw - 40px)
				width: 350px
				height: 100vh
				background-color: #000
				z-index: 9999
				transition: .3s ease-in-out
				&.is-active
					opacity: 1
					visibility: visible
					right: 0
	&__logo
		display: flex
		align-items: center
		color: #fff
		fill: #fff
		transition: .3s ease-in-out
		text-decoration: none
		@include media-breakpoint-down(lg)
			margin-right: auto
		&:hover,
		&:focus-visible
			color: #BB2423
			.header__logo-icon
				fill: #BB2423
				border-color: #bb2423
		&-icon
			display: flex
			align-items: center
			justify-content: center
			width: 43px
			height: 43px
			border: 2px solid #fff
			margin-right: 17px
			transition: .3s ease-in-out
			@include media-breakpoint-down(lg)
				width: 30px
				height: 30px
				margin-right: 10px
			svg
				width: 27px
				height: auto
				@include media-breakpoint-down(lg)
					width: 15px
		&-text
			font-size: 30px
			font-family: $syne-font
			@include media-breakpoint-down(lg)
				font-size: 20px
	&__nav
		margin-left: auto
		margin-right: auto
		@include media-breakpoint-down(lg)
			position: absolute
			left: 0
			top: 100%
			background-color: #000
			width: 100%
			text-align: center
			display: none
		ul
			display: flex
			align-items: center
			margin: 0
			padding: 0
			list-style-type: none
			@include media-breakpoint-down(lg)
				display: block
		li
			font-size: 14px
			line-height: 50px
			margin-right: 81px
			font-weight: bold
			@include media-breakpoint-down(lg)
				margin-right: 0
			&.current-menu-item
				a
					color: #bb2423 !important
			&:last-child
				margin-right: 0
		a
			display: inline-block
			vertical-align: top
			color: #fff !important
			padding: 10px
			text-decoration: none
			transition: .3s ease-in-out
			&:hover,
			&:focus-visible
				color: #bb2423 !important
	&__login
		margin-right: 15px
		@include media-breakpoint-down(lg)
			margin-right: 0
			flex: 1 100%
			order: 1
			display: flex
			justify-content: flex-end
			padding: 0 15px
			margin-top: 5px
		a
			display: flex
			align-items: center
			text-decoration: none
		&-icon
			width: 22px
			margin-right: 14px
			fill: #BB2423
			font-size: 0
			line-height: 0
			svg
				width: 100%
				height: auto
		&-text
			color: #bb2423
			font-size: 16px
	&__cart
		width: 100px
		height: 100px
		background-color: #bb2423
		display: flex
		align-items: center
		justify-content: center
		text-decoration: none
		font-size: 90px
		@include media-breakpoint-down(lg)
			width: 60px
			height: 60px
		svg
			position: relative
			left: 10px
			width: 56px
			height: auto
	&__menu
		width: 60px
		height: 60px
		display: none
		align-items: center
		justify-content: center
		text-align: center
		text-decoration: none
		transition: .3s ease-in-out
		background: #BB2423
		border: 0
		cursor: pointer
		@include media-breakpoint-down(lg)
			display: flex
		&:hover,
		&:focus-visible,
		&.is-active
			background-color: #BB2423
		&.is-active
			span
				background: transparent
				transform: rotate(90deg)
				&::before
					transform: rotate(45deg)
					top: 0
					background-color: #000
				&::after
					transform: rotate(-45deg)
					bottom: 0
					background-color: #000
		span
			display: block
			position: relative
			width: 25px
			height: 3px
			transition: .3s
			background-color: #000
			&::before,&::after
				content: ''
				display: block
				width: 25px
				height: 3px
				background: #000
				position: absolute
				left: 0px
				transition: all 0.3s linear
			&::before
				top: -8px
			&::after
				bottom: -8px